@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #ff6600;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
